<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Badac</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>cors</filter-name>
    <filter-class>filter.SimpleCORSFilter</filter-class>
</filter>
<filter-mapping>
    <filter-name>cors</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>
  <servlet>
    <servlet-name>Nulls</servlet-name>
    <servlet-class>servlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Nulls</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>servlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sBadac</servlet-name>
    <servlet-class>servlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sBadac</servlet-name>
    <url-pattern>/Badac</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserEmailCheck</servlet-name>
    <servlet-class>servlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEmailCheck</servlet-name>
    <url-pattern>/user_email_check</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserSignUp</servlet-name>
    <servlet-class>servlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSignUp</servlet-name>
    <url-pattern>/user_sign_up</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>servlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/user_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLogout</servlet-name>
    <servlet-class>servlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogout</servlet-name>
    <url-pattern>/user_logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginPage</servlet-name>
    <servlet-class>servlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPage</servlet-name>
    <url-pattern>/login_page</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StartPage</servlet-name>
    <servlet-class>servlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartPage</servlet-name>
    <url-pattern>/start_page</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserSignUpPage</servlet-name>
    <servlet-class>servlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSignUpPage</servlet-name>
    <url-pattern>/user_sign_up_page</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserMainPage</servlet-name>
    <servlet-class>servlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserMainPage</servlet-name>
    <url-pattern>/user_main_page</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserCnt</servlet-name>
    <servlet-class>servlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCnt</servlet-name>
    <url-pattern>/return_user_cnt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignUpType</servlet-name>
    <servlet-class>servlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpType</servlet-name>
    <url-pattern>/signup_type</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberEmailCheck</servlet-name>
    <servlet-class>servlet.MemberInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberEmailCheck</servlet-name>
    <url-pattern>/member_email_check</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberSignUp</servlet-name>
    <servlet-class>servlet.MemberInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberSignUp</servlet-name>
    <url-pattern>/member_sign_up</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberLogout</servlet-name>
    <servlet-class>servlet.MemberInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberLogout</servlet-name>
    <url-pattern>/member_logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberLogin</servlet-name>
    <servlet-class>servlet.MemberInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberLogin</servlet-name>
    <url-pattern>/member_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberSignUpPage</servlet-name>
    <servlet-class>servlet.MemberInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberSignUpPage</servlet-name>
    <url-pattern>/member_sign_up_page</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberMainPage</servlet-name>
    <servlet-class>servlet.MemberInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberMainPage</servlet-name>
    <url-pattern>/member_main_page</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberNotApprovalList</servlet-name>
    <servlet-class>servlet.MemberInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberNotApprovalList</servlet-name>
    <url-pattern>/member_not_approval_list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberApproval</servlet-name>
    <servlet-class>servlet.MemberInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberApproval</servlet-name>
    <url-pattern>/member_approval</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberCnt</servlet-name>
    <servlet-class>servlet.MemberInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberCnt</servlet-name>
    <url-pattern>/return_member_cnt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertApplication</servlet-name>
    <servlet-class>servlet.ApplicationInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertApplication</servlet-name>
    <url-pattern>/insert_application</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WriteApplication</servlet-name>
    <servlet-class>servlet.ApplicationInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteApplication</servlet-name>
    <url-pattern>/write_application</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoUserInformation</servlet-name>
    <servlet-class>servlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoUserInformation</servlet-name>
    <url-pattern>/go_user_update_information</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserInfoUpdate</servlet-name>
    <servlet-class>servlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfoUpdate</servlet-name>
    <url-pattern>/user_update_information</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoMemberInformation</servlet-name>
    <servlet-class>servlet.MemberInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoMemberInformation</servlet-name>
    <url-pattern>/go_member_update_information</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberInfoUpdate</servlet-name>
    <servlet-class>servlet.MemberInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberInfoUpdate</servlet-name>
    <url-pattern>/member_update_information</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetMemberInfo</servlet-name>
    <servlet-class>servlet.MemberInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMemberInfo</servlet-name>
    <url-pattern>/get_member_info</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetUserInfo</servlet-name>
    <servlet-class>servlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserInfo</servlet-name>
    <url-pattern>/get_user_info</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoMyApplication</servlet-name>
    <servlet-class>servlet.ApplicationInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoMyApplication</servlet-name>
    <url-pattern>/my_application</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadPicture</servlet-name>
    <servlet-class>servlet.PictureInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadPicture</servlet-name>
    <url-pattern>/upload_picture</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletePicture</servlet-name>
    <servlet-class>servlet.PictureInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePicture</servlet-name>
    <url-pattern>/delete_picture</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPictureList</servlet-name>
    <servlet-class>servlet.PictureInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPictureList</servlet-name>
    <url-pattern>/get_picture_list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyApplicationList</servlet-name>
    <servlet-class>servlet.ApplicationInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyApplicationList</servlet-name>
    <url-pattern>/my_application_list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetApplicationInfo</servlet-name>
    <servlet-class>servlet.ApplicationInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetApplicationInfo</servlet-name>
    <url-pattern>/get_application_info</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetMemberList</servlet-name>
    <servlet-class>servlet.MemberInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMemberList</servlet-name>
    <url-pattern>/member_list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoApplicationPage</servlet-name>
    <servlet-class>servlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoApplicationPage</servlet-name>
    <url-pattern>/go_my_application_page</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowApplicationPage</servlet-name>
    <servlet-class>servlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowApplicationPage</servlet-name>
    <url-pattern>/show_application</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteApplication</servlet-name>
    <servlet-class>servlet.ApplicationInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteApplication</servlet-name>
    <url-pattern>/delete_application</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoAboutUs</servlet-name>
    <servlet-class>servlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoAboutUs</servlet-name>
    <url-pattern>/go_aboutus</url-pattern>
  </servlet-mapping>
</web-app>